.slider {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 807px;
    padding-top: 7px;
}

.slide {
    display: flex;
    flex: none;
    transition: 1000ms;
    width: 5760px;

    img {
        object-fit: cover;
    }
}

.slider-button {
    position: absolute;
    z-index: 99;
    margin: 0 auto;
    top: 91.7%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 128px;

    &__dot {
        display: block;
        padding: 5px;
        @include size(16px);
        border-radius: 50%;
        background-color: $font_color_alt;
        cursor: pointer;

        &_active {
            background-color: $button_color;
        }
    }
}