header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 55px 0 0 0;
    width: 80%;
    height: 420px;
}

.social {
    padding-top: 15px;
    white-space: nowrap;

    &_vk {
        transition: 300ms;
        cursor: pointer;
        width: 60px;
        margin-right: 20px;

        &:hover {
            transform: translateY(-10px);
        }

        &:active {
            transform: translateY(0);
        }

        &:focus {
            transform: translateY(0);
        }

        &:visited {
            transform: translateY(0);
        }
    }

    &_inst {
        transition: 300ms;
        cursor: pointer;
        width: 60px;
        margin-left: -5px;

        &:hover {
            transform: translateY(-10px);
        }

        &:active {
            transform: translateY(0);
        }

        &:focus {
             transform: translateY(0);
        }

        &:visited {
             transform: translateY(0);
        }
    }


}

.head_background {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 1280px;
    background-image: url(/_assets/img/style/head_bg.png);
    background-position: center 0;
    background-repeat: no-repeat;
}

.main_head {
    margin-bottom: 95px;
    padding: 0 15px 0 15px;

    h1 {
        letter-spacing: 0.8rem;
        line-height: 1;
        color: $font_color_alt;
    }

    h3 {
        font-size: 2.5rem;
        letter-spacing: 0.7rem;
        line-height: 1;
        color: $font_color_alt;
    }
}



.buttons-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 20px;

    &>.order-btn {
        margin: 0 auto;
    }

    .arrow-down {
        transition: 300ms;
        display: block;
        margin: 0 auto;
        width: 50px;
        cursor: pointer;

        &:hover {
            width: 60px;
        }

        &:active {
            width: 60px;
        }
    }
}

@media screen and (max-width: 1325px) {
    .main_head {
        h3 {
            padding-top: 15px;
            font-size: 2rem;
            letter-spacing: 0.5rem;
        }
    }
}

@media screen and (max-width: $phone_width) {
    header {
        flex-direction: row-reverse;
        padding-top: 20px;
        width: 85%;
        height: unset;
    }

    .head_background {
        justify-content: space-around;
    }

    .main_head {
        h1 {
            font-size: 5.5rem;
        }
    }

    .buttons-head {
        flex-grow: 0.2;

        .arrow-down {
            padding-top: 15px;
        }
    }
}

@media screen and (max-width: $phone_width_sm) {
    .social {
        &_vk {
            width: 40px;
        }

        &_inst {
            width: 40px;
        }
    }

    .head_background {
        justify-content: space-between;
    }

    .main_head {
        margin-bottom: 0px;

        h1 {
            font-size: 3.6rem;
            letter-spacing: 0.8rem;
            line-height: 1;
        }

        h3 {
            font-size: 2.5rem;
            letter-spacing: 0.7rem;
            line-height: 1;
        }
    }

}