.ghost-button {
    padding-bottom: 2px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    text-transform: lowercase;
    color: $font_color_main;
    border: 1px solid $font_color_main;
    border-radius: 3px;
    width: 223px;
    height: 49px;

    &:hover {
        border-color: $button_color_hover;
        color: $button_color_hover;
    }

    &:active {
        border-color: $button_color_hover;
        color: $button_color_hover;
    }

    &:focus {
        border-color: $button_color_hover;
        color: $button_color_hover;
    }

    &:visited {
        border-color: $button_color_hover;
        color: $button_color_hover;
    }
}