.form-slider-menu {
    position: relative;
    display: flex;
    padding-bottom: 33px;
    border-bottom: 1px solid $border_color_hover;

    &__item {
        font-family: $font_alt;
        font-size: 3.6rem;
        color: transparentize($font_color_main, .47);
        padding-right: 124px;
        cursor: pointer;
        user-select: none;
        transition: 300ms;

        &_active {
            color: transparentize($font_color_main, .0);
        }
    }

    &__underline {
        position: absolute;
        top: 79px;
        left: 0;
        width: 283px;
        height: 7px;
        border-radius: 3px;
        background-image: url(/_assets/img/style/menu_underline.png);
        background-repeat: no-repeat;
        background-size: 283px 7px;
        background-position: 50% 50%;
        transition: 300ms;
    }
}