//Font
$font_main: 'Gotham Pro', Arial, sans-serif;

//Size
$font_main_size:      16px;
$font_light:          200;
$font_normal:         400;
$font_medium:         500;

$desktop_width:      1920px;
$desktop_width_sm:   1410px;
$table_width_lg:     1080px;
$table_width:        768px;
$phone_width:        580px;
$phone_width_sm:     420px;

//Colors
$font_color_main:        #000000;
$font_color_alt:         #ffffff;

$border_color:           #000000;

$button_color_hover:     #58c2e8;
$button_color_alt_hover: #dc0000;
 
$bg_color_main:          #ffffff;
$bg_color_about:          linear-gradient(#ffffff, #91959b);
$bg_color_info:          #000000;

$button_color_bg:        #dc0000;