//Font
$font_main: 'Montserrat', Arial, sans-serif;
$font_alt: 'Open Sans', Arial, sans-serif;

//Size
$font_main_size:      10px;

$desktop_width:      1920px;
$desktop_width_sm:   1410px;
$table_width_lg:     1080px;
$table_width:        768px;
$phone_width:        580px;
$phone_width_sm:     420px;

//Colors
$font_color_main:        #423A39;
$font_color_second:      #333333;
$font_color_alt:         #ffffff;
$font_color_placeholder: #6a748c;

$border_color:           #423A39;
$border_color_hover:     #ff5b5b;

$button_color:           #eca078;
$button_color_alt:       #ff5b5b;
$button_color_hover:     #ff5b5b;
$button_color_shadow:    darken($button_color_alt, 35%);
 
$bg_color_main:          #ffffff;
$bg_color_alt:           #333333;
/* $bg_color_about:          linear-gradient(#ffffff, #91959b);
$bg_color_info:          #000000; */
