.head-info {
    position: absolute;
    z-index: 99;
    left: 190px;
    top: 299px;

    &__p {
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 3.6rem;
        color: $font_color_alt;
    }

    &__btn {
        width: 280px;
        height: 80px;
        font-size: 3.6rem;
        line-height: 4.4rem;
        text-transform: lowercase;
    }
}