//system
@import "block/system/_vars";
@import "block/system/_mixins";
@import "block/system/_font";
@import "block/system/_base";

//html
@import "block/html/_html";

//button
@import "block/button/_button";
@import "block/button/_ghost-button";
@import "block/button/_main-button";

//header
@import "block/header/_header";
@import "block/header/_head-info";

//menu
@import "block/menu/_menu";

//slider
@import "block/slider/_slider";

//feature
@import "block/feature/_feature";
@import "block/feature/_feature-block";

//about
@import "block/about/_about-block";
@import "block/about/_about-info";

//form & rules
@import "block/form/_form-bg";
@import "block/form/_form-slider-menu";
@import "block/form/_form-slide";
@import "block/form/_photo-upload";
@import "block/form/_input";
@import "block/form/_rules-slide";


//footer
@import "block/footer/_footer";
@import "block/footer/_socials";
