html {
    font-family: $font_main;
    font-size: $font_main_size;
    color: $font_color_main;
    background-color: $bg_color_main;
    height: 100%;

    @media screen and (max-width: $desktop_width_sm) {
        font-size: 9px;
    }

    @media screen and (max-width: $table_width_lg) {
        font-size: 8px;
    }

    @media screen and (max-width: $table_width) {
        font-size: 7px;
    }

    @media screen and (max-width: $phone_width) {
        font-size: 6px;
    }

    @media screen and (max-width: $phone_width_sm) {
        font-size: 5px;
    }
}

.page {
    width: 100%;
    overflow: hidden;
}

.wrap {
    margin: 0 auto;
    max-width: $desktop_width;
    overflow: hidden;
}

h1 {
    font-size: 7.2rem;
    font-weight: 800;
    color: $font_color_alt;
    text-transform: uppercase;
    padding-bottom: 33px;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.6rem;
    font-weight: bold;
    text-transform: lowercase;
}

.hidden {
    display: none;
}