.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 331px;

    h3 {
        padding-top: 23px;
    }

    &__p {
        padding-top: 23px;
        text-align: center;
        font-family: $font_alt;
        font-size: 2rem;
        line-height: 2.7rem;
        text-transform: lowercase;
    }
}