.menu-mobile {
    z-index: 99;
    position: relative;
    display: none;
    background-image: url(/_assets/img/style/menu-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 60px;
}

.mobile-checkbox {
    display: none;
}

.mobile-checkbox:checked~.menu {
    transform: translate(0 0);
}

@media screen and (max-width: $phone_width) {
    .menu-mobile {
        display: flex;
    }
}

@media screen and (max-width: $phone_width_sm) {
    .menu-mobile {
        width: 40px;
    }
}