.footer {
    display: flex;
    justify-content: space-between;
    height: 130px;
    background-color: $bg_color_alt;

    .menu {
        padding-top: 22px;
    }

    .menu__item {

        a {
            color: $font_color_alt;

            &:hover {
                color: $button_color_hover;
            }
        }
        
        &:first-child {
            padding-left: 68px;
        }

        &:last-child {
            padding-left: 44px;
        }
    }
}