.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 264px;
    padding-bottom: 28px;
    padding-right: 73px;

    &__item {
        @include size(36px);
        cursor: pointer;
        
        circle, path {
            transition: 300ms;
        }

        &:hover circle{
           stroke: $button_color_hover;
        }

        &:hover path {
            fill: $button_color_hover;
        }
    }
}